.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  width: 65%;
  margin: 30px auto;
}

.component-container {
  background-color: var(--color-2);
  padding: 20px 40px;
  border-radius: 10px;
  font-family: var(--font-family-1);
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-container form input {
  padding: 10px 0px 0px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.login-form input {
  grid-column: 1/-1;
}

.btn-1 {
  grid-column: 1 / -1;
  width: fit-content;
  background: var(--gradient-color-1);
  outline: none;
  border: none;
  color: var(--color-2);
  padding: 10px 20px;
  font-weight: 500;
  font-family: var(--font-family-1);
}

.btn-1:hover {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}

.switch-login-signup {
  font-size: 12px;
  text-decoration: none;
}

.rounded-border {
  border-radius: 30px;
}

.flex {
  display: flex;
}

.switch-page {
  width: fit-content;
  margin-right: 10px;
}

.relative {
  position: relative;
}

.edit-account {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.divider {
  border-top: 1px solid #555555;
  margin-top: 5px;
  padding-top: 10px;
}


.username, .user-email, .tag {
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}

.tag {
  font-weight: 600;
  color: black;
}

.user-bank-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.info {
  font-size: 14px;
  color: #555555;
}

.bank-info, .user-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-info {
  border-top: 1px solid  #555555;
  margin-top: 10px;
  padding-top: 10px;
}

.search-input {
  margin-bottom: 20px;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #bebebe;
}


@media only screen and (max-width: 768px) {
  nav h1 {
      font-size: 10px;
  }
  nav {
      height: 50px;
  }
  nav div {
      font-size: 10px;
  }

  .main {
    width: 90%;
  }

  .switch-page-btns {
    display: flex;
    flex-direction: column;
    width: 200%;
  }

  .switch-page {
    width: 100%;
  }

  .form-container form {
    grid-template-columns: none;
  }
}